.card {
    background: #fff;
    border-radius: 2px;
    height: 140px;
    margin: 1rem;
    margin-top: 10px;
    position: relative;
    width: 170px;
    box-shadow: 0 3px 6px rgb(65, 57, 57), 0 3px 6px #999;
    overflow: hidden;
  }
  
  /* Slide */
   .hover img {
      margin-left: 10px;
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
  }
  .hover img:hover  {
      margin-left: -30px;
  
  }
  